@using Sys.WebUI.Models
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-3 complementary" role="complementary">
        <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
            <ul class="nav bs-docs-sidenav">
                @Html.LeftMeunHtmlString("个人中心", "个人信息", User.Identity.Name)
            </ul>
        </nav>
    </div>
    <div class="col-md-9 maincontent">
        <h4 id="breadcrumbs" class="page-header">基本信息</h4>
        <table class="table" id="tableinfo">
            <tbody>
                <tr id="cusnotr">
                    <td style="width: 20%">客户编号：</td>
                    <td><span id="khbh">@ViewBag.CustomerID</span></td>
                </tr>
                <tr>
                    <td>用户名：</td>
                    <td><span id="yhm">@ViewBag.username</span></td>
                </tr>
                @{
                    if (ViewBag.Integral != null)
                    {
                        <tr>
                            <td>积分：</td>
                            <td><span id="jf"><img src="~/images/star.png" width="18px" style="vertical-align: top;" /> @ViewBag.Integral</span></td>
                        </tr>
                    }
                }

                <tr>
                    <td>姓名：</td>
                    <td><span id="xm">@ViewBag.displayname</span></td>
                </tr>
                <tr>
                    <td>邮箱：</td>
                    <td><span id="yx">@ViewBag.Email</span></td>
                </tr>
                <tr>
                    <td>手机号码：</td>
                    <td><span id="sjhm">@ViewBag.phone</span></td>
                </tr>
                <tr id="suozaichengshitr">
                    <td>所在城市：</td>
                    <td><span id="szcs">@ViewBag.CityName</span></td>
                </tr>
                <tr tabindex="customer">
                    <td>详细地址：</td>
                    <td><span id="xxdz">@ViewBag.Address</span></td>
                </tr>
                <tr tabindex="customer">
                    <td>微信：</td>
                    <td><span id="wx">@ViewBag.WebChatNo</span></td>
                </tr>
                <tr id="qqtr">
                    <td>QQ：</td>
                    <td><span id="qq">@ViewBag.QQNumber</span></td>
                </tr>
                <tr>
                    <td>创建时间：</td>
                    <td><span>@ViewBag.CreateDate</span></td>
                </tr>
                <tr tabindex="customer">
                    <td></td>
                    <td><a class="btn btn-success btn-sm" id="editprofilelink"><i class="glyphicon glyphicon-edit"></i>编辑</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<style>
    .uservalue {
        padding-top: 7px;
        margin-top: 0;
    }
</style>
<script>
    $(function () {
        var rule = "@ViewBag.RuleType";
        if (rule === 'Admin') {
            $('#cusnotr').hide();
            $('#qqtr').hide();
            $('#shouhuodizhidiv').hide();
            $('[tabindex=customer]').hide();
            $('#suozaichengshitr').hide();
        }
        else if (rule === 'Agents') {
            $('#cusnotr').hide();
            $('#shouhuodizhidiv').hide();
            $('[tabindex=customer]').hide();
        }
        $('[role=complementary] ul.bs-docs-sidenav>li>a')
           .click(function (e) {
               e.stopPropagation();
               e.preventDefault();
               var href = $(this).attr('href');
               if (href != null && href != "#") {
                   $('body').mLoading("show"); //显示loading组件
                   $('#main-page')
                       .load(href,
                           function () {
                               $('body').mLoading("hide"); //显示loading组件
                           });
               }
           });

        $('#editprofilelink')
            .click(function (e) {
                $('#main-page').load("@Url.Action("EditProfile")?username=@ViewBag.username", function (e) { });
            });
    })
</script>