@using Sys.Common
@using Sys.WebUI.Models
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-3 complementary" role="complementary">
        <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
            <ul class="nav bs-docs-sidenav">
                @Html.LeftMeunHtmlString("订单管理", "创建订单", User.Identity.Name)
            </ul>
        </nav>
    </div>
    <div class="col-md-9 maincontent" role="main">
        <div class="bs-docs-section">
            <h4 id="breadcrumbs" class="page-header">创建订单</h4>
            <div id="alert-infor" class="alert alert-success alert-dismissible" role="alert" style="display: none;">
                <strong>错误!</strong>
                <label></label>
            </div>
            <div class="alert alert-warning" role="alert" id="tips" style="display: none;">
                <strong>温馨提示!</strong> 尊敬的客户：[@User.Identity.Name]，由于您的信息还不完整，暂时还不能下单，请先完善您的个人信息。
            </div>
            <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                    <li>
                        <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                下单介绍<br />
                            </span>
                        </a>
                    </li>
                    @*<li>
                            <a href="#step-2">
                                <span class="step_no">2</span>
                                <span class="step_descr">
                                    主订单信息<br />
                                </span>
                            </a>
                        </li>*@
                    <li>
                        <a href="#step-3">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                寄件信息<br />
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-4">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                收件信息<br />
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-5">
                            <span class="step_no">4</span>
                            <span class="step_descr">
                                订单确认<br />
                            </span>
                        </a>
                    </li>
                </ul>
                <form id="form" method="post" action="@Url.Action("CreateOrder")" data-parsley-validate data-parsley-excluded="input[type=button],input[type=submit],input[type=reset],input[type=hidden],input[type=radio]">
                    <div id="step-1">
                        <h4 class="StepTitle">下单介绍</h4>
                        <p>
                            ...
                        </p>
                    </div>
                    @*<div id="step-2">
                            <div id="form1" class="form-horizontal form-label-left" novalidate="">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ordersingle">
                                        订单编号
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="ordersingle" name="ordersingle" value="@ViewBag.OrderNumber" readonly="readonly" required="required" class="form-control col-md-7 col-xs-12" data-parsley-group="form1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shappername">
                                        寄件人姓名 <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="shappername" name="shappername" required="required" data-parsley-group="form1" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shipperphone">
                                        寄件人电话 <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="shipperphone" name="shipperphone" required="required" data-parsley-type="alphanum" data-parsley-group="form1" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pickupnumber">
                                        收货人数量 <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="pickupnumber" name="pickupnumber" required="required" data-parsley-type="integer" data-parsley-group="form1"
                                               class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>

                            </div>

                        </div>*@
                    <div id="step-3">
                        <div id="form2" class="form-horizontal form-label-left" novalidate="">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="russiacityid">
                                    俄罗斯城市
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select name="russiacityid" class="form-control col-md-7" onchange="rcChange()" id="russiacityid">
                                        @{
                                            var RCityDataList = ViewData["RCityDataList"] as List<SelectBinding>;

                                        }
                                        @Html.BindingSelectHtmlString(RCityDataList)
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="russiaaddress">
                                    俄罗斯详细地址 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="russiaaddress" name="russiaaddress" required="required" data-parsley-group="form2" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group" id="divwuliudanhao" style="display: none;">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="logisticsSingle">
                                    物流单号 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="logisticsSingle" value="" name="logisticsSingle" data-parsley-group="form2" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cargonumber">
                                    货物箱数 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="cargonumber" name="cargonumber" required="required" data-parsley-type="integer" data-parsley-group="form2" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pickupdate">
                                    取货时间 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="pickupdate" name="pickupdate" required="required" data-parsley-group="form2" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    取货方式
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>
                                        <input type="radio" checked="checked" value="1" name="pickupWay">自行送货
                                    </label>
                                    <label>
                                        <input type="radio" value="2" name="pickupWay"> 上午取货(9点-13点)
                                    </label>
                                    <label>
                                        <input type="radio" value="3" name="pickupWay"> 下午取货(13点-17点)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="goodstype">
                                    货物类型: <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select name="goodstype" class="form-control col-md-7" required="required" id="goodstype" data-parsley-group="form2" onchange="goodstypeChange(this)">
                                        <option value="">选择货物类型</option>
                                        @{
                                            var roomTypeDataList = ViewData["RoomTypeDataList"] as List<SelectBinding>;

                                        }
                                        @Html.BindingSelectHtmlString(roomTypeDataList)
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    货物运输类型
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>
                                        <input type="radio" checked="checked" value="1" name="transportationway"> 陆运
                                    </label>
                                    <label>
                                        <input type="radio" value="2" name="transportationway"> 空运
                                    </label>
                                    @*<label>
                                            <input type="radio" value="3" name="transportationway"> 海运
                                        </label>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="protectprice">
                                    保价价值(元) <span class="required">*</span>
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="text" id="protectprice" name="protectprice" required="required" data-parsley-type="number" data-parsley-min="1" data-parsley-group="form2" onblur="goodstypeblur(this)" class="form-control col-md-7 col-xs-12">
                                </div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="policyfee">
                                    保单费用(元)
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="text" id="policyfee" name="policyfee" value="" readonly="readonly" required="required" data-parsley-type="number" data-parsley-min="0" data-parsley-group="form2" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="goodsweight">
                                    货物重量(kg)  <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="goodsweight" name="goodsweight" required="required" data-parsley-type="number" data-parsley-min="0" data-parsley-group="form2" onblur="aweightBlur(this)" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="abudgetprice">
                                    预算价格(元)
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="abudgetprice" readonly="readonly" name="abudgetprice" required="required" data-parsley-type="number" data-parsley-min="0" data-parsley-group="form2" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 col-sm-12 col-xs-12">
                                    箱子外包装总体积   <span class="required">*</span>
                                </label>
                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                    长(cm)
                                </label>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <input type="text" id="boxlong" name="boxlong" required="required" data-parsley-type="number" data-parsley-group="form2" class="form-control col-md-7 col-xs-12">
                                </div>
                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                    宽(cm)
                                </label>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <input type="text" id="boxwidth" name="boxwidth" required="required" data-parsley-type="number" data-parsley-group="form2" class="form-control col-md-7 col-xs-12">
                                </div>
                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                    高(cm)
                                </label>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <input type="text" id="boxheight" name="boxheight" required="required" data-parsley-type="number" data-parsley-group="form2" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step-4">
                        <h5>收件人列表</h5>
                        <hr style="margin-top: 0;" />
                        <table id="datatablelist" data-toggle="table" class="table table-striped table-bordered dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th data-field="parcelsingle">编号</th>
                                    <th data-field="chinacityName">省份</th>
                                    <th data-field="chinaaddress">地址</th>
                                    <th data-field="receivername">姓名</th>
                                    <th data-field="receiverphone">电话</th>
                                    <th data-field="packagingwayName">打包方式</th>
                                    <th data-field="expresswayName">快递方式</th>
                                    <th data-field="goodsdesc">明细</th>
                                    <th data-field="parcelweight">重量</th>
                                    <th data-field="chinacouriernumber">单号</th>
                                    <th data-field="budgetprice">预算价格</th>
                                    <th data-field="desc">备注</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <br />
                        <h5>添加收件人信息</h5>
                        <hr style="margin-top: 0;" />
                        <div id="form3" class="form-horizontal form-label-left" novalidate="">

                            @*<div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="parcelsingle">
                                        包裹编号 <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="parcelsingle" name="parcelsingle" required="required" data-parsley-group="form3" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>*@
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="chinacityid">
                                    订单省份 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control col-md-7 col-xs-12" name="chinacityid" id="chinacityid" required="required" onchange="parcelweightBlur()" data-parsley-group="form3">
                                        <option value="">选择省份</option>
                                        @{
                                            var cCityDataList = ViewData["CCityDataList"] as List<SelectBinding>;

                                        }
                                        @Html.BindingSelectHtmlString(cCityDataList)
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="chinaaddress">
                                    订单详细地址 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="chinaaddress" name="chinaaddress" required="required" data-parsley-group="form3" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="receivername">
                                    收件人姓名 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="receivername" name="receivername" required="required" data-parsley-group="form3" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="receiverphone">
                                    收件人电话 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="receiverphone" name="receiverphone" required="required" data-parsley-group="form3" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    打包方式
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>
                                        <input type="radio" checked="checked" value="1" name="packagingway" data-text="不打包">不打包
                                    </label>
                                    <label>
                                        <input type="radio" value="2" name="packagingway" data-text="普通打包"> 普通打包
                                    </label>
                                    <label>
                                        <input type="radio" value="3" name="packagingway" data-text="特殊泡沫打包"> 特殊泡沫打包
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    快递方式
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>
                                        <input type="radio" checked="checked" value="1" onchange="parcelweightBlur()" name="expressway"  data-text="普通正付">普通正付
                                    </label>
                                    <label>                                               
                                        <input type="radio" value="2" name="expressway" onchange="parcelweightBlur()" data-text="顺丰正付"> 顺丰正付
                                    </label>
                                    <label>
                                        <input type="radio" value="3" name="expressway" onchange="parcelweightBlur()" data-text="普通到付">普通到付
                                    </label>
                                    <label>
                                        <input type="radio" value="3" name="expressway" onchange="parcelweightBlur()" data-text="顺丰到付">顺丰到付
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="goodsdesc">
                                    货物明细 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="goodsdesc" name="goodsdesc" required="required" data-parsley-group="form3" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="parcelweight">
                                    包裹重量(千克) <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="parcelweight" name="parcelweight" required="required" data-parsley-type="number" onblur="parcelweightBlur()" data-parsley-group="form3" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rbudgetprice">
                                    预算价格(元)
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="rbudgetprice" name="rbudgetprice" readonly="readonly" required="required" data-parsley-type="number" data-parsley-group="form3" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="chinacouriernumber">
                                    国内快递单号 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="chinacouriernumber" name="chinacouriernumber" required="required" data-parsley-type="alphanum" data-parsley-group="form3" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="desc">
                                    备注
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea type="text" id="desc" name="desc" class="form-control col-md-7 col-xs-12"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">

                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <button type="button" class="btn btn-default" onclick="addReciverInfo()">添加收件信息</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step-5">
                        <h2 class="StepTitle">Step 2 Content</h2>
                        <p>
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    <input type="hidden" name="sjJson" />
                </form>
            </div>
            <!-- End SmartWizard Content -->

        </div>
    </div>
</div>
<script src="~/Scripts/parsley.min.js"></script>
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/jquery.smartWizard.js"></script>

<script>
    var $table;
    function addReciverInfo() {
        var  isStepValid = $('#form').parsley().validate('form3') && $('#form').parsley().isValid('form3');
        if (isStepValid) {
            var data=$table.bootstrapTable('getData');
            var ix = data.length+1;
            $table.bootstrapTable('insertRow', {index: 0, row: {
                parcelsingle: ix,
                chinacityid: $('#chinacityid').val(),
                chinacityName:$("#chinacityid>option:selected").text(),
                chinaaddress: $('#chinaaddress').val(),
                receivername:$('#receivername').val(),
                receiverphone:$('#receiverphone').val(),
                packagingway:$('[name=packagingway]:checked').val(),
                packagingwayName:$('[name=packagingway]:checked').attr("data-text"),
                expressway:$('[name=expressway]:checked').val(),
                expresswayName:$('[name=expressway]:checked').attr("data-text"),
                goodsdesc:$('#goodsdesc').val(),
                parcelweight:$('#parcelweight').val(),
                chinacouriernumber:$('#chinacouriernumber').val(),
                desc:$('#desc').val(),
                stats:$('#receiverphone').val(),
                budgetprice:$('#rbudgetprice').val()
            }});
            $('#chinacityid').val('');
            $('#chinaaddress').val('');
            $('#receivername').val('');
            $('#receiverphone').val('');
            $('[name=packagingway]').val('1');
            $('[name=expressway]').val('1');
            $('#goodsdesc').val('');
            $('#parcelweight').val('');
            $('#chinacouriernumber').val('');
            $('#desc').val('');
            $('#receiverphone').val('');
            $('#rbudgetprice').val('');
            data=$table.bootstrapTable('getData');
            $('[name=sjJson]').val(JSON.stringify(data));
        }
    }
    function rcChange() {
        var value = $('#russiacityid').val();
        if (value === '7') {
            $('#divwuliudanhao').show();
            $('#divwuliudanhao #logisticsSingle').prop("required", "required");
        } else {
            $('#divwuliudanhao').hide();
            $('#divwuliudanhao #logisticsSingle').removeAttr("required");
        }
        aweightBlur();
    }

    function goodstypeChange(obj) {
        var gid = $(obj).val();
        if (gid != null && gid !== "")
            $.getJSON("@Url.Action("GetGoodsTypeById", "System")",
                { id: gid },
                function(e) {
                    if (e != null) {
                        $(obj).data("GoodsType", e);
                        $('#goodsweight').attr("data-parsley-min", e.MinWeight);
                        var price = $('#protectprice').val();
                        if (price !== "" && checkRate(price)) {
                            $('#policyfee').val(price * e.PremiumAmount / 100);
                        }
                    }
                });
        else
            $(obj).data("GoodsType", null);
        aweightBlur();
    }

    function goodstypeblur(obj) {
        var v = $(obj).val();
        var data = $('#goodstype').data('GoodsType');
        if (v !== "" && data != null && checkRate(v)) {
            $('#policyfee').val(v * data.PremiumAmount / 100);
        }
    }

    function aweightBlur() {
        var v = $('#goodsweight').val();
        var data = $('#goodstype').val();
        if (v !== "" && data !== '' && checkRate(v)) {
            var cityId = $('#russiacityid').val();
            var trans = $('[name=transportationway]').val();
            $.getJSON('@Url.Action("GetAddressBudgetPrice")',
                { cityId: cityId, goodstype: data, transType: trans, weight: v },
                function(e) {
                    $('#abudgetprice').val(e.Message);
                });

        }
    }

    function parcelweightBlur() {
        var cityId = $('#chinacityid').val();
        var expressway = $('[name=expressway]').val();
        var weight = $('#parcelweight').val();
        if (cityId !== ''&&expressway!==''&&checkRate(weight)) {
            $.getJSON('@Url.Action("GetRBudgetPrice")',{cid:cityId,eway:expressway,weight:weight}, function(e) {
                $('#rbudgetprice').val(e.Message);
            });
        }
    }

    $(document)
        .ready(function() {
            $table = $('[data-toggle="table"]');
            var bs = @ViewBag.disabled;
            if (bs) {
                $('#tips').show();
                $('#wizard').hide();
            }
            $('#pickupdate').daterangepicker({
                "singleDatePicker": true,
                "locale": {
                    "format": "YYYY-MM-DD"
                }
            });
            $('[data-toggle="table"]').bootstrapTable();
            $('ul.bs-docs-sidenav>li>a').click(function (e) {
                e.stopPropagation();
                e.preventDefault();
                var href = $(this).attr('href');
                if (href != null && href != "#") {
                    $('body').mLoading("show");//显示loading组件
                    $('#main-page').load(href, function () {
                        $('body').mLoading("hide");//显示loading组件
                    });
                }
            });
            // Smart Wizard
            $('#wizard').smartWizard({
                labelNext: '下一步', // label for Next button
                labelPrevious: '上一步', // label for Previous button
                labelFinish: '确认下单',  // label for Finish button
                contentCache: false,
                onLeaveStep: leaveAStepCallback,
                onFinish: onFinishCallback
            });
            function leaveAStepCallback(obj, context) {
                return validateSteps(context.fromStep, context.toStep > context.fromStep); // return false to stay on step and true to continue navigation
            }

            function onFinishCallback(objs, context) {
                if (validateAllSteps()) {
                    $('form').ajaxSubmit({
                        resetForm: true,
                        error: function (xhr, status, error, $form) {
                            $('#alert-infor').removeClass('alert-success');
                            $('#alert-infor').addClass('alert-danger');
                            $('#alert-infor').show();
                            $('#alert-infor label').html(error);
                            $('#alert-infor strong').html('错误！');
                        },
                        success: function (responseText, statusText) {
                            var d = $.parseJSON(responseText);
                            if (d.Status === 1) {
                                $('#alert-infor').removeClass('alert-danger');
                                $('#alert-infor').addClass('alert-success');
                                $('#alert-infor').show();
                                //$('#alert-infor label').html(error);
                                $('#alert-infor strong').html('<strong>恭喜您! 下单成功，</strong> 订单号：<a href="#" class="alert-link">'+d.Message+"</a>");
                            } else {
                                $('#alert-infor').removeClass('alert-success');
                                $('#alert-infor').addClass('alert-danger');
                                $('#alert-infor').show();
                                $('#alert-infor label').html(d.Message);
                                $('#alert-infor strong').html('错误！');
                            }
                            $('#wizard').remove();
                        }
                    });
                }
            }

            // Your Step validation logic
            function validateSteps(stepnumber, vali) {
                var isStepValid = true;
                // validate step 1
                //if (stepnumber === 2 && vali) {
                //    isStepValid = $('#form').parsley().validate('form1') && $('#form').parsley().isValid('form1');
                //    // $('#form1').submit();
                //}
                if (stepnumber === 2 && vali) {
                    isStepValid = $('#form').parsley().validate('form2') && $('#form').parsley().isValid('form2');
                }
                else if (stepnumber === 3 && vali) {
                    //isStepValid = $('#form').parsley().validate('form3') && $('#form').parsley().isValid('form3');
                    var data=$table.bootstrapTable('getData');
                    isStepValid = data.length > 0;
                }
                return isStepValid;
            }
            function validateAllSteps() {
                var isStepValid = $('#form').parsley().validate('form2') && $('#form').parsley().isValid('form2');
                // all step validation logic
                var data=$table.bootstrapTable('getData');
                isStepValid = isStepValid&&data.length > 0;
                return isStepValid;
            }
        });
</script>