@using Sys.WebUI.Models
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-3 complementary" role="complementary">
        <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
            <ul class="nav bs-docs-sidenav">
                @Html.LeftMeunHtmlString("订单管理", "订单列表", User.Identity.Name)
            </ul>
        </nav>
    </div>
    <div class="col-md-9 maincontent" role="main">
        <h4 id="breadcrumbs" class="page-header">订单列表</h4>
        <div id="toolbar">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <span>状态: </span>
                    <select class="form-control" style="width: initial;" name="orderstatus">
                        @Html.BindingOrderStatusSelectHtmlString()
                    </select>
                    <input type="text" class="form-control" id="orderdate" name="orderdate" placeholder="日期段" style="width: initial;"/>
                </div>
                <button id="ok" type="submit" class="btn btn-warning">查询</button>
                <a href="@Url.Action("ExportOrderExcel")" class="btn btn-success"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> 导出</a>

            </div>
        </div>
        <table id="table"
               data-toggle="table"
               data-toolbar="#toolbar"
               data-show-refresh="true"
               @*data-show-export="true"*@
               data-show-toggle="true"
               data-search="true"
               data-url="@Url.Action("GetOrderViewPagerData")"
               data-pagination="true"
               data-side-pagination="server"
               data-sort-name="CreateDate"
               data-sort-order="desc"
               data-query-params="queryParams"
               data-page-size="10"
               data-page-list="[10,50,100]"
               data-pagination-first-text="首页"
               data-pagination-pre-text="上一页"
               data-pagination-next-text="下一页"
               data-pagination-last-text="尾页">
            <thead>
                <tr>
                    <th data-field="stats" data-checkbox="true"></th>
                    <th data-field="OrderNo" data-formatter="OrderNoFormatter">订单编号</th>
                    <th data-field="WebUrl">购物网站地址</th>
                    <th data-field="RussiaCityName">俄罗斯城市</th>
                    <th data-field="DisplayName">下单人</th>
                    <th data-field="CreateDate">下单时间</th>
                    <th data-field="Status" data-formatter="stateFormatter">状态</th>
                    <th data-field="Status" data-formatter="paystateFormatter">付款状态</th>
                    @*<th data-field="Id" data-formatter="actionFormatter">操作</th>*@
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="ViewModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">主订单信息</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">收件信息</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">寄件信息</a></li>
                    <li role="presentation"><a href="#fahuotab" aria-controls="fahuotab" role="tab" data-toggle="tab">发货信息</a></li>
                    <li role="presentation"><a href="#fukuantab" aria-controls="fukuantab" role="tab" data-toggle="tab">付款信息</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th style="width:30%">订单号：</th>
                                    <td><span id="orderno"></span></td>
                                </tr>
                                <tr>
                                    <th>寄件人姓名：</th>
                                    <td><span id="jjxm"></span></td>
                                </tr>
                                <tr>
                                    <th>寄件人电话：</th>
                                    <td><span id="jjdh"></span></td>
                                </tr>
                                <tr>
                                    <th>收货人数量：</th>
                                    <td><span id="shrshl"></span></td>
                                </tr>
                                <tr>
                                    <th>订单状态：</th>
                                    <td><span id="ddzt"></span></td>
                                </tr>
                                <tr>
                                    <th>付款状态：</th>
                                    <td><span id="fkzt"></span></td>
                                </tr>
                                <tr>
                                    <th>下单人：</th>
                                    <td><span id="xdr"></span></td>
                                </tr>
                                <tr>
                                    <th>下单时间：</th>
                                    <td><span id="xdsj"></span></td>
                                </tr>
                                <tr>
                                    <th>订单实际价格：</th>
                                    <td>
                                        <span id="sjjg"></span>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th style="width:30%">俄罗斯城市：</th>
                                    <td><span id="elscs"></span></td>
                                </tr>
                                <tr>
                                    <th>俄罗斯详细地址：</th>
                                    <td><span id="elsdz"></span></td>
                                </tr>
                                <tr>
                                    <th>物流单号：</th>
                                    <td><span id="wldh"></span></td>
                                </tr>
                                <tr>
                                    <th>货物箱数：</th>
                                    <td><span id="hwxs"></span></td>
                                </tr>
                                <tr>
                                    <th>取货时间：</th>
                                    <td><span id="qhsj"></span></td>
                                </tr>
                                <tr>
                                    <th>取货方式：</th>
                                    <td><span id="qhfs"></span></td>
                                </tr>
                                <tr>
                                    <th>货物类型：</th>
                                    <td><span id="hwlx"></span></td>
                                </tr>
                                <tr>
                                    <th>货物运输类型：</th>
                                    <td><span id="hwyslx"></span></td>
                                </tr>
                                <tr>
                                    <th>保价价值(元)：</th>
                                    <td><span id="bjjg"></span></td>
                                </tr>
                                <tr>
                                    <th>保单费用(元)：</th>
                                    <td><span id="bdfy"></span></td>
                                </tr>
                                <tr>
                                    <th>货物重量(kg)：</th>
                                    <td><span id="hwzl"></span></td>
                                </tr>
                                <tr>
                                    <th>货物实际重量：</th>
                                    <td>
                                        <span id="hwsjzl"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <th>货物实际体积重量：</th>
                                    <td>
                                        <span id="hwsjtjzl"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <th>箱子外包装总体积：</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        长(cm)：<span id="chang"></span>,
                                        宽(cm)：<span id="kuan"></span>,
                                        高(cm)：<span id="gao"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>订单实际价格 (元)：</th>
                                    <td>
                                        <span id="ddsjjg"></span>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th style="width:30%">包裹编号：</th>
                                    <td><span id="bgbh"></span></td>
                                </tr>
                                <tr>
                                    <th>订单省份：</th>
                                    <td><span id="ddsf"></span></td>
                                </tr>
                                <tr>
                                    <th>订单详细地址：</th>
                                    <td><span id="ddxxdz"></span></td>
                                </tr>
                                <tr>
                                    <th>收件人姓名：</th>
                                    <td><span id="sjrxm"></span></td>
                                </tr>
                                <tr>
                                    <th>收件人电话 ：</th>
                                    <td><span id="sjrdh"></span></td>
                                </tr>
                                <tr>
                                    <th>打包方式 ：</th>
                                    <td><span id="dbfs"></span></td>
                                </tr>
                                <tr>
                                    <th>快递方式：</th>
                                    <td><span id="kdfs"></span></td>
                                </tr>
                                <tr>
                                    <th>货物明细 ：</th>
                                    <td><span id="hwmx"></span></td>
                                </tr>
                                <tr>
                                    <th>包裹重量(千克)：</th>
                                    <td><span id="bgzl"></span></td>
                                </tr>
                                <tr>
                                    <th>实际重量(千克)：</th>
                                    <td><span id="csjzl"></span></td>
                                </tr>
                                <tr>
                                    <th>实际价格(元)：</th>
                                    <td><span id="csjjg"></span></td>
                                </tr>
                                <tr>
                                    <th>国内快递单号：</th>
                                    <td><span id="gnkddh"></span></td>
                                </tr>
                                <tr>
                                    <th>备注：</th>
                                    <td><span id="bz"></span></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="fukuantab">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th style="width:30%">付款人：</th>
                                    <td><span id="fukuanren"></span></td>
                                </tr>
                                <tr>
                                    <th>付款时间：</th>
                                    <td><span id="fukuanshijian"></span></td>
                                </tr>
                                <tr>
                                    <th>付款详情：</th>
                                    <td><span id="fukuanxiangqing"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="fahuotab">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th style="width:30%">发货人：</th>
                                    <td><span id="fahuoren"></span></td>
                                </tr>
                                <tr>
                                    <th>物流单号：</th>
                                    <td><span id="物流单号"></span></td>
                                </tr>
                                <tr>
                                    <th>发货时间：</th>
                                    <td><span id="fahuoshijian"></span></td>
                                </tr>
                                <tr>
                                    <th>发货详情：</th>
                                    <td><span id="fahuoxiangqing"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/parsley.min.js"></script>
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/bootstrap-table-export.js"></script>
<script src="~/Scripts/tableExport.js"></script>
<script>
    var $table = $('#table'),
      $ok = $('#ok');
    $(function () {
        $('#orderdate').daterangepicker({
            autoApply: true,
            autoUpdateInput: false,
        });
        $('#orderdate').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        $('#orderdate').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });
        $ok.click(function () {
            $table.bootstrapTable('refresh');
        });
        $('[data-toggle="table"]').bootstrapTable();
        var $table = $('#table'),
            $remove = $('#remove'),
            selections = [];
        $table.on('check.bs.table uncheck.bs.table ' +
            'check-all.bs.table uncheck-all.bs.table',
            function () {
                $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);

                // save your data, here just save the current page
                selections = getIdSelections();
                // push or splice the selections if you want to save all data selections
            });
       
        $('[role=complementary] ul.bs-docs-sidenav>li>a')
            .click(function (e) {
                e.stopPropagation();
                e.preventDefault();
                var t = new Date().getTime();
                var href = $(this).attr('href');
                if (href != null && href != "#") {
                    $('body').mLoading("show"); //显示loading组件
                    $('#main-page')
                         .load(href+"?t="+t,
                            function () {
                                $('body').mLoading("hide"); //显示loading组件
                            });
                }
            });

        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'),
                function (row) {
                    return row.Id;
                });
        }
    });
    function queryParams(params) {
        $('#toolbar').find('input[name],select').each(function () {
            params[$(this).attr('name')] = $(this).val();
        });
        return params;
    }
    function priceFormatter(v, r) { }
    function paystateFormatter(value, row, index) {
        return Status_7077.getPayStatus(row.PayStatus);
    }
    function stateFormatter(value, row, index) {
        return Status_7077.getOrderStatus(row.Status);
    }
    function OrderNoFormatter(value, row, index) {
        return '<a href="javascript:void(0)" onclick="viewOrder(' +
                JSON.stringify(row).replace(/\"/g, "\'") +
                ')">' + value + '</a>';
    }
    function actionFormatter(value, row, index) {
        var h = [];
        h.push('<button  type="button" class="btn btn-primary btn-xs" onclick="updatedate(' +
            JSON.stringify(row).replace(/\"/g, "\'") +
            ')" value="">查看</button>');
        return h.join('');
    }
    function viewOrder(row) {
        $('body').mLoading("show"); //显示loading组件
        $('.maincontent').load('@Url.Action("OrderView")?id=' + row.Id, function (e) {
            $('body').mLoading("hide"); //显示loading组件
        });
    }
    function updatedate(row) {
        $('body').mLoading("show"); //显示loading组件
        $('.maincontent').load('@Url.Action("OrderView")?id='+row.Id, function(e) {
            $('body').mLoading("hide"); //显示loading组件
        });
        $('#orderno').html(row.OrderNo);
        $('#jjxm').html(row.ShipperName);
        $('#jjdh').html(row.ShipperPhone);
        $('#shrshl').html(row.PickupNumber);
        $('#xdr').html(row.DisplayName);
        $('#ddzt').html(Status_7077.getOrderStatus(row.Status));
        $('#xdsj').html(row.CreateDate);
        $('#elscs').html(row.RussiaCityName);
        $('#elsdz').html(row.RussiaAddress);
        $('#wldh').html(row.LogisticsSingle);
        $('#hwxs').html(row.CargoNumber);
        $('#qhsj').html(row.PickupDate);
        $('#qhfs').html(Status_7077.getPickupWay(row.PickupWay));
        $('#hwlx').html(Status_7077.getGoodsType(row.GoodsType));
        $('#hwyslx').html(Status_7077.getCargoTransWay(row.TransportationWay));
        $('#bjjg').html(row.ProtectPrice);
        $('#bdfy').html(row.PolicyFee);
        $('#hwzl').html(row.GoodsWeight);
        $('#chang').html(row.BoxLong);
        $('#kuan').html(row.BoxWidth);
        $('#gao').html(row.BoxHeight);
        $('#bgbh').html(row.ParcelSingle);
        $('#ddsf').html(row.ChinaCityId);
        $('#ddxxdz').html(row.ChinaAddress);
        $('#sjrxm').html(row.ReceiverName);
        $('#sjrdh').html(row.ReceiverPhone);
        $('#dbfs').html(Status_7077.getPackagingType(row.PackagingWay));
        $('#kdfs').html(Status_7077.getExpressWay(row.ExpressWay));
        $('#hwmx').html(row.GoodsDesc);
        $('#bgzl').html(row.ParcelWeight);
        $('#gnkddh').html(row.ChinaCourierNumber);
        $('#bz').html(row.Desc);
        $('#orderId').html(row.Id);
        $('#sjjg').html(row.OrderRealPrice);
        $('#hwsjzl').html(row.GoodsRealWeight);
        $('#hwsjtjzl').html(row.GoodsVolumeWeight);
        $('#ddsjjg').html(row.AddressRealPrice);
        $('#csjzl').html(row.RealWeight);
        $('#csjjg').html(row.RealPrice);
        $('#fkzt').html(Status_7077.getPackagingType(row.PayStatus));
    }
</script>