@using Sys.WebUI.Models
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-3 complementary" role="complementary">
        <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
            <ul class="nav bs-docs-sidenav">
                @Html.LeftMeunHtmlString("用户管理", "客户管理", User.Identity.Name)
            </ul>
        </nav>
    </div>
    <div class="col-md-9 maincontent" role="main">
        <div id="toolbar">
            @*  <button type="button" class="btn btn-success btn-sm" id="btn-add" data-toggle="modal" data-target="#addModel">新增</button>*@
            <button type="button" class="btn btn-danger btn-sm" disabled id="remove">删除</button>
        </div>
        <table id="table"
               data-toggle="table"
               data-toolbar="#toolbar"
               data-show-refresh="true"
               data-show-toggle="true"
               data-search="true"
               data-url="@Url.Action("GetUserPagerList")"
               data-pagination="true"
               data-side-pagination="server"
               data-sort-name="CreateDate"
               data-sort-order="desc"
               data-page-size="50"
               data-page-list="[20,50,100]"
               data-pagination-first-text="首页"
               data-pagination-pre-text="上一页"
               data-pagination-next-text="下一页"
               data-pagination-last-text="尾页">
            <thead>
                <tr>
                    <th data-field="stats" data-checkbox="true"></th>
                    <th data-field="UserName">用户名</th>
                    <th data-field="Integral" data-formatter="ruleFormatter">积分</th>
                    <th data-field="DisplayName">姓名</th>
                    <th data-field="Email">邮箱</th>
                    <th data-field="Phone">手机</th>
                    <th data-field="Status" data-formatter="stateFormatter">状态</th>
                    <th data-field="Id" data-formatter="actionFormatter">操作</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" id="userinfo">

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="admineditModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div id="alert-infor" class="alert alert-success alert-dismissible" role="alert" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>错误!</strong>
                    <label></label>
                </div>
                <form class="form-horizontal form-label-left" id="addform" method="post" action="@Url.Action("AdminEditPassword")" data-parsley-validate data-parsley-excluded="input[type=button],input[type=submit],input[type=reset],input[type=hidden],input[type=radio]">
                    <input type="hidden" name="username" id="username" value="" />
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">
                            新密码 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="password" id="password" name="password" required="required" class="form-control col-md-7 col-xs-12" data-parsley-group="form1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="confimpassword">
                            确认密码<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="password" id="confimpassword" name="confimpassword" required="required" data-parsley-equalto="#password" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="" id="btn-save">保存</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="admineditjifen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
              
                <form class="form-horizontal form-label-left" id="jifform" method="post" action="@Url.Action("EditJifen")" data-parsley-validate data-parsley-excluded="input[type=button],input[type=submit],input[type=reset],input[type=hidden],input[type=radio]">
                    <input type="hidden" name="uid" id="uid" value="" />
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">
                            原积分
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img src="~/images/star.png" width="18px" style="vertical-align: top;" /> <span id="oldjifen">0</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="confimpassword">
                            新积分 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="jifen" name="jifen" required="required" data-parsley-type="number" data-parsley-min="0" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="" id="btn-jifensave">保存</button>
            </div>
        </div>

    </div>
</div>
<style>
    #form-main-page {
        float: none;
    }
</style>
<script src="~/Scripts/parsley.min.js"></script>
<script src="~/Scripts/jquery.form.js"></script>
<script>
    $(function () {

    })
</script>

<script>

    $(function () {
        $('[data-toggle="table"]').bootstrapTable();
        var $table = $('#table'),
            $remove = $('#remove'),
            selections = [];
        $table.on('check.bs.table uncheck.bs.table ' +
            'check-all.bs.table uncheck-all.bs.table',
            function () {
                $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);

                // save your data, here just save the current page
                selections = getIdSelections();
                // push or splice the selections if you want to save all data selections
            });
        $remove.click(function () {
            if (confirm("你确定要删除吗？")) {
                var ids = getIdSelections();
                $.post("@Url.Action("DeleteUser")", { ids: ids }, function (e) {
                    $remove.prop('disabled', true);
                    $('[data-toggle="table"]').bootstrapTable('refresh');
                    $('#addModel').modal('hide');
                });
            }
        });

        $('#btn-add').click(function (e) {
            $('#addModel .modal-body').load("@Url.Action("EditProfile")?username=admin&ww #form-main-page", function () {
                var id = $('[name=id]').val();
                if (id != "") {
                    $('#username').attr('readonly', 'readonly');
                    $('#passworddivd,#passworddiv').hide();
                    $('#ruletype').val("@ViewBag.ruletype");
                }
                $('#btn-save')
                    .click(function () {
                        if ($('#addform').parsley().validate() && $('#addform').parsley().isValid()) {
                            $('#addform')
                                .ajaxSubmit({
                                    resetForm: true,
                                    error: function (xhr, status, error, $form) {
                                        $('#alert-infor').removeClass('alert-success');
                                        $('#alert-infor').addClass('alert-danger');
                                        $('#alert-infor').show();
                                        $('#alert-infor label').html(error);
                                        $('#alert-infor strong').html('错误！');
                                    },
                                    success: function (responseText, statusText) {
                                        $('#main-page').load("@Url.Action("Profile", "User")");
                                    }
                                });
                        }
                    });
            });
        });
        $('#btn-save').click(function () {
            if ($('#addform').parsley().validate() && $('#addform').parsley().isValid()) {
                $('#addform').ajaxSubmit({
                    resetForm: true,
                    error: function (xhr, status, error, $form) {
                        $('#alert-infor').removeClass('alert-success');
                        $('#alert-infor').addClass('alert-danger');
                        $('#alert-infor').show();
                        $('#alert-infor label').html(error);
                        $('#alert-infor strong').html('错误！');
                    },
                    success: function (responseText, statusText) {
                        //alert(statusText.Status);
                        //$('#alert-infor').removeClass('alert-danger');
                        //$('#alert-infor').addClass('alert-success');
                        //$('#alert-infor').show();
                        ////$('#alert-infor label').html(error);
                        //$('#alert-infor strong').html('Successfully');
                        $('#alert-infor').hide();
                        $('[data-toggle="table"]').bootstrapTable('refresh');
                        $('#admineditModel').modal('hide');
                    }
                });
            }
        });
        $('#btn-jifensave').click(function () {
            if ($('#jifform').parsley().validate() && $('#jifform').parsley().isValid()) {
                $('#jifform').ajaxSubmit({
                    resetForm: true,
                    error: function (xhr, status, error, $form) {

                    },
                    success: function (responseText, statusText) {

                        $('[data-toggle="table"]').bootstrapTable('refresh');
                        $('#admineditjifen').modal('hide');
                    }
                });
            }
        });
        $('[role=complementary] ul.bs-docs-sidenav>li>a')
           .click(function (e) {
               e.stopPropagation();
               e.preventDefault();
               var t = new Date().getTime();
               var href = $(this).attr('href');
               if (href != null && href != "#") {
                   $('body').mLoading("show"); //显示loading组件
                   $('#main-page')
                        .load(href+"?t="+t,
                           function () {
                               $('body').mLoading("hide"); //显示loading组件
                           });
               }
           });

        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'),
                function (row) {
                    return row.Id;
                });
        }
    });
    function updatedate(row) {
        $('#addModel .modal-body').load("@Url.Action("Profile")?name=" + row.UserName + " #tableinfo", function () {
            if (row.RuleType === 'Admin') {
                $('#cusnotr').hide();
                $('#qqtr').hide();
                $('#shouhuodizhidiv').hide();
                $('[tabindex=customer]').hide();
                $('#suozaichengshitr').hide();
            }
            else if (row.RuleType === 'Agents') {
                $('#cusnotr').hide();
                $('#shouhuodizhidiv').hide();
                $('[tabindex=customer]').hide();
            }

            $('#editprofilelink')
          .click(function (e) {
              $('#userinfo').load("@Url.Action("EditProfile")?username=" + row.UserName + " #addform1", function(e) {
                  $('#btn-save1')
           .click(function () {
               if ($('#addform1').parsley().validate() && $('#addform1').parsley().isValid()) {
                   $('#addform1')
                       .ajaxSubmit({
                           resetForm: true,
                           error: function (xhr, status, error, $form) {
                               $('#alert-infor').removeClass('alert-success');
                               $('#alert-infor').addClass('alert-danger');
                               $('#alert-infor').show();
                               $('#alert-infor label').html(error);
                               $('#alert-infor strong').html('错误！');
                           },
                           success: function (responseText, statusText) {
                               $('[data-toggle="table"]').bootstrapTable('refresh');
                               $('#addModel').modal('hide');
                           }
                       });
               }
           });
              });
          });
        });


        $('#addModel').modal('show');

    }
    function priceFormatter(v, r) { }

    function stateFormatter(value, row, index) {
        var h = "";
        if (row.Status === 1)
            h = "正常";
        if (row.Status === 0)
            h = "关闭";
        return h;
    }
    function actionFormatter(value, row, index) {
        var h = [];
        h.push('<button  type="button" class="btn btn-primary btn-xs" onclick="updatedate(' + JSON.stringify(row).replace(/\"/g, "\'") + ')" value="">查看</button>');
        h.push(' <button  type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#admineditModel" onclick="editdate(' + JSON.stringify(row).replace(/\"/g, "\'") + ')" value="">重置密码</button>');
        if ('@ViewBag.RuleType' == 'Admin') {
            h.push(' <button  type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#admineditjifen" onclick="editjifen(' + JSON.stringify(row).replace(/\"/g, "\'") + ')" value="">修改积分</button>');
        }
        return h.join('');
    }
    function editjifen(row) {
        $('#uid').val(row.Id);
        $('#oldjifen').html(row.Integral);
    }
    function editdate(row) {
        $('#username').val(row.UserName);
    }
    function ruleFormatter(value, row, index) {
        var h = '<img src="/images/star.png" width="18px" style="vertical-align: top;" /> ' + value;

        return h;
    }
</script>